/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
  font-family: parkinsans;
  src: url("./font/Parkinsans-VariableFont_wght.ttf");
}

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
  :root {
    --primary-color: #e2b100;
    --secondary-color: #212121;
    --primary-background-color: #f6f5f5;
    --secondary-background-color: #ffffff;
    --secondary-text-color: #464646;
    --user-chat-background-color: #d6d6d6;
    /* Kleuren */
    --sustainable-label-color: #20a687;
    --timeless-label-color: #b2291f;
    --digital-label-color: #466ebf;
    --experience-label-color: #aa2677;

    --line-height-heading: 1.2;
    --line-height-text: 1.4;

    --font-size-h1: 2em;
    --font-size-h2: 1.5em;
    --font-size-h3: 1.3em;
    --font-size-h4: 1.15em;
    --font-size-h5: 1.1em;
    --font-size-h6: 1em;
    --font-size-p: 1em;

    --font-weight-standard: 400;
    --font-weight-heading: 700;
  }

  /* focus ring */
  input,
  button,
  a,
  textarea {
    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }
  }

  .footer-input {
    &:focus-visible {
      outline: var(--secondary-color) 3px solid;
    }
  }

  .color-example {
    color: #fff;
  }

  .secondary-color {
    background-color: var(--secondary-color);
  }
  .primary-bg-color {
    background-color: var(--primary-background-color);
    color: var(--secondary-color);
  }
  .secondary-text-color {
    background-color: var(--secondary-text-color);
  }
  .chat-bg-color {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--user-chat-background-color);
  }
  .white-bg-color {
    background-color: var(--secondary-background-color);
    color: black;
    border: 1px solid black;
  }
  .highlight-color {
    background-color: var(--primary-color);
  }
  .sustainable-label-color {
    background-color: var(--sustainable-label-color);
  }
  .timeless-label-color {
    background-color: var(--timeless-label-color);
  }
  .digital-label-color {
    background-color: var(--digital-label-color);
  }
  .experience-label-color {
    background-color: var(--experience-label-color);
  }

  /* Typografie *******************************************/
  .heading1 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h1);
  }

  .heading2 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h2);
  }

  .heading3 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h3);
  }

  .heading4 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h4);
  }

  .heading5 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h5);
  }

  .heading6 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h6);
  }

  .alinea-title {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-heading);
  }

  .alinea-description {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-standard);
  }

  .ul-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .ol-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .table-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .blockquote-mil p {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
    font-weight: lighter;
  }

  /* Formulier elementen */
  .primary-color-bg {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.4em;
    border-radius: 5px;
    position: relative;
  }
  .primary-bg-search {
    background-color: var(--primary-background-color);
    color: var(--secondary-color);
    border: none;
    width: 100%;
  }
  .primary-text {
    height: 45px;
    width: 100%;
  }
  .primary-color-bg:focus-visible {
    outline: var(--primary-color) 3px solid;
  }

  .secondary-search-bg {
    display: flex;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 0.5em 1em;
    border-radius: 7px;
    position: relative;
  }

  .ai-button-secondary {
    position: absolute;
    right: 23.5em;
    background: none;
    border: none;
    height: 55px;
    width: 55px;
    cursor: pointer;
  }

  .ai-button-secondary svg {
    display: block;
  }

  .secondary-search {
    width: 50%;
    height: 3em;
  }

  .secondary-search-input {
    width: 50%;
    padding: 0.8em 3.5em 0.8em 3.2em;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    outline: none;
    font-size: 1em;
  }

  .secondary-search-input::placeholder {
    color: #bfbfbf;
  }

  .ai-button-primary {
    position: absolute;
    left: 1.5em;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .send-button {
    position: absolute;
    right: 0.8em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    cursor: pointer;
  }

  .send-button svg {
    fill: var(--secondary-background-color);
  }

  .send-button:hover {
    background-color: var(--primary-background-color);
    fill: var(--secondary-color);
  }
  .send-button:focus-visible {
    outline: var(--primary-color) 3px solid;
  }
  .button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    fill: var(--secondary-background-color);
    background-color: var(--secondary-color);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background-color);
      fill: var(--secondary-color);
    }

    &:active {
      background-color: var(--primary-color);
      fill: var(--secondary-color);
    }
  }
  .submit-button {
    width: 20em;
    height: 3em;
    background-color: var(--secondary-text-color);
    color: var(--secondary-background-color);
    border: none;
    border-radius: 5px;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background-color);
      color: var(--secondary-color);
    }

    &:active {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  .file-picture {
    display: flex;
    flex-direction: column;
    font-family: "parkinsans", sans-serif;
    color: var(--secondary-text-color);
    margin-block-end: 1em;
    svg {
      border-radius: 10px;
      border: 1px solid var(--secondary-text-color);
      padding: 2em;
      margin-block-start: 0.25em;
      fill: var(--secondary-text-color);
    }
    #file-input {
      display: none;
    }
  }

  /* extra */

  /* .main-article{
    border: solid var(--secondary-color);
    max-width: 20rem;
    font-family: parkinsans;
    cursor: pointer;

    &:hover {
    }
  }
  .main-article img {
    display: block;
    width: 19rem;
  } */
}
