/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
  font-family: parkinsans;
  src: url("./font/Parkinsans-VariableFont_wght.ttf");
}

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
  :root {
    --secondary-color: #212121;
    --primary-background: #f6f5f5;
    --secondary-text: #464646;
    --primary-chat-text-background: #d6d6d6;
    --secondary-background: #ffffff;
    --primary-color: #e2b100;
    --sustainable-label: #20a687;
    --timeless-label: #b2291f;
    --digital-label: #466ebf;
    --experience-label: #aa2677;

    --line-height-heading: 1.2;
    --line-height-text: 1.4;

    --font-size-h1: 2em;
    --font-size-h2: 1.5em;
    --font-size-h3: 1.3em;
    --font-size-h4: 1.15em;
    --font-size-h5: 1.1em;
    --font-size-h6: 1em;
    --font-size-p: 1em;

    --font-weight-standard: 400;
    --font-weight-heading: 700;
  }
  /* Kleuren ********************************************/
  .color-example {
    color: #fff;
  }

  .secondary-color {
    background-color: var(--secondary-color);
  }
  .primary-bg {
    background-color: var(--primary-background);
    color: var(--secondary-color);
  }
  .secondary-text {
    background-color: var(--secondary-text);
  }
  .chat-bg {
    background-color: var(--primary-chat-text-background);
  }
  .white-bg {
    background-color: var(--secondary-background);
    color: black;
    border: 1px solid black;
  }
  .highlight-color {
    background-color: var(--primary-color);
  }
  .sustainable-label {
    background-color: var(--sustainable-label);
  }
  .timeless-label {
    background-color: var(--timeless-label);
  }
  .digital-label {
    background-color: var(--digital-label);
  }
  .experience-label {
    background-color: var(--experience-label);
  }

  /* Typografie *******************************************/
  .heading1 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h1);
  }

  .heading2 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h2);
  }

  .heading3 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h3);
  }

  .heading4 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h4);
  }

  .heading5 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h5);
  }

  .heading6 {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-h6);
  }

  .alinea-title {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-heading);
  }

  .alinea-description {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-standard);
  }

  .ul-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .ol-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .table-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .blockquote-mil p {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
    font-weight: lighter;
  }

  /* Formulier elementen */
  .primary-color-bg {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.4em;
    border-radius: 5px;
    position: relative;
  }
  .primary-bg {
    background-color: var(--primary-background);
    color: var(--secondary-color);
    padding: 5px;
    width: 100%;
    outline: none;
    height: 3em;
    border: none;
  }
  .primary-text {
    height: 45px;
  }
  .primary-color-bg:focus-visible {
    outline: var(--primary-color) 3px solid;
  }

  .search-button {
    position: absolute;
    right: 0.8em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    cursor: pointer;
    &svg {
      fill: var(--secondary-background);
    }
  }
  .search-button:hover {
    background-color: var(--primary-background);
    fill: var(--secondary-color);
  }
  .search-button:focus-visible {
    outline: var(--primary-color) 3px solid;
  }
  .button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    fill: var(--secondary-background);
    background-color: var(--secondary-color);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background);
      fill: var(--secondary-color);
    }

    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }

    &:active {
      background-color: var(--primary-color);
      fill: var(--secondary-color);
    }
  }
  .submit-button {
    width: 20em;
    height: 3em;
    background-color: var(--secondary-text);
    color: var(--secondary-background);
    border: none;
    border-radius: 5px;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background);
      color: var(--secondary-color);
    }

    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }

    &:active {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  /* extra */

  /* .main-article{
    border: solid var(--secondary-color);
    max-width: 20rem;
    font-family: parkinsans;
    cursor: pointer;

    &:hover {
    }
  }
  .main-article img {
    display: block;
    width: 19rem;
  } */
}
