/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
  :root {
    --secondary-color: #212121;
    --primary-background: #f6f5f5;
    --secondary-text: #464646;
    --primary-chat-text-background: #d6d6d6;
    --secondary-background: #ffffff;
    --primary-color: #e2b100;
    --sustainable-label: #20a687;
    --timeless-label: #b2291f;
    --digital-label: #466ebf;
    --experience-label: #aa2677;
  }
  /* Kleuren */
  .color-example {
    color: #fff;
  }

  .secondary-color {
    background-color: var(--secondary-color);
  }
  .primary-bg {
    background-color: var(--primary-background);
    color: var(--secondary-color);
  }
  .secondary-text {
    background-color: var(--secondary-text);
  }
  .chat-bg {
    background-color: var(--primary-chat-text-background);
  }
  .white-bg {
    background-color: var(--secondary-background);
    color: black;
    border: 1px solid black;
  }
  .highlight-color {
    background-color: var(--primary-color);
  }
  .sustainable-label {
    background-color: var(--sustainable-label);
  }
  .timeless-label {
    background-color: var(--timeless-label);
  }
  .digital-label {
    background-color: var(--digital-label);
  }
  .experience-label {
    background-color: var(--experience-label);
  }
  /* Typografie */
  /* Formulier elementen */
}
