/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@font-face {
  font-family: parkinsans;
  src: url("/font/Parkinsans-VariableFont_wght.ttf");
}

@layer styleguide {
  /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */
  :root {
    /* Kleuren */
    --primary-color: #e2b100;
    --secondary-color: #212121;
    --primary-background-color: #f6f5f5;
    --secondary-background-color: #ffffff;
    --secondary-text-color: #464646;
    --user-chat-background-color: #d6d6d6;
    --sustainable-label-color: #20a687;
    --timeless-label-color: #b2291f;
    --digital-label-color: #466ebf;
    --experience-label-color: #aa2677;

    --line-height-heading: 1.2;
    --line-height-text: 1.4;

    --font-size-title: 2em;
    --font-size-subject: 1.5em;
    --font-size-heading: 1.3em;
    --font-size-headline: 1.15em;
    --font-size-caption: 1.1em;
    --font-size-subtitle: 1em;
    --font-size-text: 1em;

    --font-weight-standard: 400;
    --font-weight-heading: 700;
  }

  /* focus ring */
  input,
  button,
  a,
  textarea {
    &:focus-visible {
      outline: var(--primary-color) 3px solid;
    }
  }

  .footer-input {
    &:focus-visible {
      outline: var(--secondary-color) 3px solid;
    }
  }

  .color-example {
    color: #fff;
  }

  .secondary-color {
    background-color: var(--secondary-color);
  }
  .primary-bg-color {
    background-color: var(--primary-background-color);
    color: var(--secondary-color);
  }
  .secondary-text-color {
    background-color: var(--secondary-text-color);
  }
  .chat-bg-color {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    background-color: var(--user-chat-background-color);
  }
  .white-bg-color {
    background-color: var(--secondary-background-color);
    color: black;
    border: 1px solid black;
  }
  .highlight-color {
    background-color: var(--primary-color);
  }
  .sustainable-label-color {
    background-color: var(--sustainable-label-color);
  }
  .timeless-label-color {
    background-color: var(--timeless-label-color);
  }
  .digital-label-color {
    background-color: var(--digital-label-color);
  }
  .experience-label-color {
    background-color: var(--experience-label-color);
  }

  /* Typografie *******************************************/
  .title {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-title);
  }

  .subject {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-subject);
  }

  .heading {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-heading);
  }

  .headline {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-headline);
  }

  .caption {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-caption);
  }

  .subtitle {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-subtitle);
  }

  .alinea-title {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-heading);
  }

  .alinea-description {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-standard);
  }

  .ul-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .ol-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .table-mil {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
  }

  .blockquote-mil p {
    font-family: parkinsans, sans-serif;
    font-size: var(--font-weight-standard);
    font-weight: lighter;
  }

  /* Formulier elementen */
  .primary-color-bg {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 0.4em;
    border-radius: 5px;
    position: relative;
  }
  .primary-bg-search {
    background-color: var(--primary-background-color);
    color: var(--secondary-color);
    border: none;
    width: 100%;
  }
  .primary-text {
    height: 45px;
    width: 100%;
  }
  .primary-color-bg:focus-visible {
    outline: var(--primary-color) 3px solid;
  }

  .secondary-search-bg {
    display: flex;
    align-items: center;
    background-color: var(--secondary-background-color);
    padding: 0.5em 1em;
    border-radius: 7px;
    position: relative;
  }

  .ai-button-secondary {
    position: absolute;
    right: 23.5em;
    background: none;
    border: none;
    height: 55px;
    width: 55px;
    cursor: pointer;
  }

  .ai-button-secondary svg {
    display: block;
  }

  .secondary-search {
    width: 50%;
    height: 3em;
  }

  .secondary-search-input {
    width: 50%;
    padding: 0.8em 3.5em 0.8em 3.2em;
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    outline: none;
    font-size: 1em;
  }

  .secondary-search-input::placeholder {
    color: #bfbfbf;
  }

  .ai-button-primary {
    position: absolute;
    left: 1.5em;
    background: none;
    border: none;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .send-button {
    position: absolute;
    right: 0.8em;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #fff;
    cursor: pointer;
  }

  .send-button svg {
    fill: var(--secondary-background-color);
  }

  .send-button:hover {
    background-color: var(--primary-background-color);
    fill: var(--secondary-color);
  }
  .send-button:focus-visible {
    outline: var(--primary-color) 3px solid;
  }
  .button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    fill: var(--secondary-background-color);
    background-color: var(--secondary-color);

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background-color);
      fill: var(--secondary-color);
    }

    &:active {
      background-color: var(--primary-color);
      fill: var(--secondary-color);
    }
  }
  .submit-button {
    width: 20em;
    height: 3em;
    background-color: var(--secondary-text-color);
    color: var(--secondary-background-color);
    border: none;
    border-radius: 5px;

    @media (prefers-reduced-motion: no-preference) {
      transition: 0.2s ease-out;
    }

    &:hover {
      background-color: var(--primary-background-color);
      color: var(--secondary-color);
    }

    &:active {
      background-color: var(--primary-color);
      color: var(--secondary-color);
    }
  }

  .input-label-text {
    appearance: none;
    border-radius: 6px;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    width: 394.2px;
    height: 63px;
    font-family: "parkinsans", sans-serif;
    font-size: 1em;
    padding-left: 1em;
  }

  .label-textarea {
    appearance: none;
    border-radius: 6px;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    width: 394.2px;
    height: 199px;
    font-family: "parkinsans", sans-serif;
    font-size: 1em;
    padding-left: 1em;
  }
  .file-picture {
    display: flex;
    flex-direction: column;
    font-family: "parkinsans", sans-serif;
    color: var(--secondary-text-color);
    margin-block-end: 1em;
    svg {
      border-radius: 10px;
      border: 1px solid var(--secondary-text-color);
      padding: 2em;
      margin-block-start: 0.25em;
      fill: var(--secondary-text-color);
    }
    #file-input {
      display: none;
    }
  }

  /* extra */

  .article-product {
    position: relative;
    background-color: var(--secondary-background-color);
    width: 300px;
    height: 400px;
    padding: 4px 4px 0px 4px;
    cursor: pointer;
    font-family: "parkinsans", sans-serif;

    &:hover {
      translate: 0 -1px;
    }

    .article-product-img {
      img {
        width: 300px;
        aspect-ratio: 1/0.9;
        object-fit: cover;
      }

      .article-add-list {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        cursor: pointer;
        height: 75px;
        width: 75px;
        border: none;
        z-index: 1;
        display: block;

        border-radius: 50%;

        &:hover {
          background-color: var(--primary-color);
        }
      }

      .article-tags {
        position: absolute;
        bottom: 138px;
        left: 10px;
        flex-wrap: wrap;
        color: var(--secondary-background-color);
      }

      .article-tag-timeless {
        background: var(--timeless-label-color);
        color: var(--secondary-background-color);
        font-size: var(--font-size-text);
        padding: .1875rem .5rem;
      }

      .article-tag-sustainable {
        background: var(--sustainable-label-color);
        color: var(--secondary-background-color);
        font-size: var(--font-size-text);
        padding: .1875rem .5rem;
      }

      .article-tag-experience {
        background: var(--experience-label-color);
        color: var(--secondary-background-color);
        font-size: var(--font-size-text);
        padding: .1875rem .5rem;
      }

      .article-tag-digital {
        background: var(--digital-label-color);
        color: var(--secondary-background-color);
        font-size: var(--font-size-text);
        padding: .1875rem .5rem;
      }
    }

    p {
      &:hover {
        text-decoration-line: underline;
      }
    }

    .article-statistics {
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        max-height: 40px;
        width: auto;
      }

      span:nth-of-type(1) {
        margin-right: auto;
      }
    }
  }
}
